

.background-popup {
    background-color: rgba(0, 0, 0, .5);
    display: none;
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.popup__title {
    background-color: lavender;
    border-bottom: 1px solid;
    border-radius: 10px 10px 0 0;
    cursor: default;
    display: block;
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
}

.popup__close-button {
    cursor: pointer;
    font-size: 40px;
    left: 90%;
    position: absolute;
    top: 5px;
}

.popup__close-button:hover {
    color: red;
}

.popup__customization,
.popup__add-card,
.popup__editing-object,
.popup__add-board {
    background-color: white;
    border-radius: 10px;
    display: none;
    margin: 100px auto 0;
    position: relative;
    width: 600px;
}

.customization-form,
.add-card-form,
.add-board-form {
    padding: 20px;
}

.object-block__rename-form {
    display: none;
    margin: auto;
    padding: 20px;
    width: 70%;
}

.popup__form-block {
    font-size: 20px;
}

.popup__label {
    display: block;
    font-size: 26px;
}

.popup__label_big {
    padding: 10px 0;
}

.popup__input {
    border: none;
    border-bottom: 1px solid;
    font-size: 22px;
    height: 35px;
    outline: none;
    text-indent: 10px;
    width: 100%;
}

.popup__input_lower-border {
    border: none;
    border-bottom: 1px solid;
    border-radius: inherit;
}

.popup__submit-button {
    background-color: gold;
    border: 1px solid;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    margin: 20px 0 0;
    outline: none;
    width: 100%;
}

.popup__submit-button:hover {
    background-color: palegoldenrod;
}

.popup__object-block {

}

.object-block {
    position: relative;
}

.object-block__title {
    display: block;
    font-size: 22px;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.object-block__title-editing {
    border: 1px dotted transparent;
    cursor: pointer;
    display: block;
    font-size: 40px;
    padding: 0 10px 0 2px;
    position: absolute;
    top: 10px;
    right: 30px;
    transition: .5s;
}

.object-block__title-editing:hover {
    border: 1px dotted red;
    border-radius: 50%;
}

.object-block__object {
    display: flex;
    padding: 0 20px;
}

.object-block__information {
    width: 75%;
}

.information {

}

.information__description {
}

.information__description-title {
    border-bottom: 1px solid;
    margin: 0 20px 15px 20px;
}

.information__comments-block {

}

.comments-block {

}

.comments-block__title {
    border-bottom: 1px solid;
    margin: 0 20px 15px 20px;
}

.comments-block__comments-form {
    margin: 0 20px;
}

.comments-form {
    position: relative;
}

.comments-form__input {
    height: 15px;
    max-height: 100px;
    min-height: 15px;
    padding: 5px;
    transition: .5s;
    resize: vertical;
    width: calc(100% - 10px);
}

.comments-form__input_focus {
    height: 60px;
}

.comments-form__submit-button {
    background-color: aliceblue;
    border-style: dashed;
    bottom: -25px;
    cursor: pointer;
    display: none;
    font-size: 12px;
    outline: none;
    padding: 5px;
    position: absolute;
    transition: .4s;
    width: 160px;
}

.comments-form__submit-button:hover {
    background-color: black;
    border-style: solid;
    color: white;
}

.comments-block__list-comments {
    list-style: none;
    margin: 30px 20px;
    padding: 0;
}

.comments-block__comment {
    border: 1px solid;
    margin: 7px 0;
    min-height: 50px;
    overflow-wrap: break-word;
    padding: 5px;
}

.object-block__actions {

}

.actions {
    display: flex;
    flex-flow: column;
    width: 25%;
}

.actions__move-button,
.actions__copy-button,
.actions__delete-button {
    margin: 5px 0;
    padding: 5px;
    font-size: 14px;
}

.popup__additional-settings {
    display: none;
    position: absolute;
    top: 0;
}

.additional-settings {
    border: 1px solid;
    border-radius: 10px;
    margin: auto;
    position: relative;
    width: 75vw;
}

.additional-settings__block {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: stretch;
}

.additional-settings__choice-item {
    background-color: white;
    border: 1px solid;
    cursor: pointer;
    flex: 1;
    font-size: 26px;
    padding: 10px;
    text-align: center;
}

.additional-settings__choice-item:hover {
    background-color: gold;
}
