@import url(//fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap);


.context-menu {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    width: 230px;
    z-index: 1;
}

.context-menu__title {
    background-color: darkblue;
    color: white;
    cursor: default;
    font-size: 20px;
    padding: 5px;
}

.context-menu__close-button {
    color: white;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
}

.context-menu__action-list {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__action-item {

}

.action-item {

}

.action-item__rename-button,
.action-item__copy-button,
.action-item__delete-button {
    background: none;
    border: none;
    border-top: 1px solid;
    cursor: pointer;
    font: normal 20px 'Philosopher', sans-serif;
    outline: none;
    padding: 7px;
    width: 100%;
}

.action-item__rename-form {
    display: none;
    text-align: center;
}

.action-item__label {

}

.action-item__input {
    background-color: lightcyan;
    border: none;
    border-top: 1px solid;
    font-size: 16px;
    height: 20px;
    outline: none;
    padding: 10px;
    text-align: center;
    width: 90%;
}
