@import url(//fonts.googleapis.com/css2?family=Pacifico&display=swap);


p, h2 {
    margin: 0;
}
a {
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
}

.header {
    align-items: center;
    background: black;
    display: flex;
    height: 40px;
    min-width: 100%;
}

.header__home-page {
    color: white;
    font-size: 26px;
    text-align: center;
    width: 100px;
}

.header__home-page::before {
    color: white;
    content: '\2630';
    font-size: 24px;
    padding: 0 5px;
}

.header__search-input {
    height: 25px;
    margin: 0 20px;
}

.header__title {
    color: white;
    font-size: 30px;
    position: absolute;
    right: 50%;
}

.table {
    background-color: #2797cb;
}

.table__info-block {

}

.info-block {
    align-items: center;
    border: 2px dotted;
    display: flex;
    height: 50px;
    padding: 0 20px;
}

.info-block__table-name {
    color: white;
    font: normal 600 24px'Pacifico', cursive;
    letter-spacing: 2px;
}

.info-block__customization {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 10px;
    color: white;
    display: block;
    margin-left: auto;
    padding: 10px;
}

.info-block__customization::before {
    content: "\00B7 \00B7 \00B7";
    padding: 6px;
}

.customization {
    cursor: pointer;
}

.table__content-block {
    height: calc(100vh - 90px);
}

.table__list-columns {
    display: flex;
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

.table__column {
    margin-right: 10px;
    padding: 10px;
}

.column {
    background: #efefef;
    border-radius: 10px;
    height: fit-content;
    width: 250px;
}

.column__name {
    cursor: default;
    display: flex;
    font-size: 18px;
    font-weight: 600;
    justify-content: space-between;
    margin: 5px;
}

.column__editing {
    border-radius: 25px;
    cursor: pointer;
    padding: 0 7px 7px;
    position: relative;
    top: -5px;
    z-index: 0;
}

.column__editing:hover {
    background-color: lightgray;
}

.add-column {
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
}

.add-column:hover {
    background-color: rgba(255, 255, 255, .4);
}

.add-column__text {
    color: white;
    display: block;
    font-size: 16px;
}

.add-column__form {
    display: none;
}

.add-column__label {

}

.add-column__input {
    border: none;
    height: 25px;
    padding: 0;
    text-indent: 10px;
    width: 100%;
}

.add-column__button-block {
    display: flex;
    padding: 10px 0 0;
}

.add-column__create-button,
.add-column__close-button {
    cursor: pointer;
    font-size: 22px;
    margin: 0 2px;
    padding: 0 5px;
    width: 50%;
}

.column__list-cards {
    display: flex;
    flex-flow: column;
}

.column__card {
    margin-bottom: 10px;
    padding: 10px;
}

.card {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgba(9,30,66,.25);
}

.card:hover {
    background: lightgray;
}

.column__add-card {
    border-radius: 10px;
    cursor: pointer;
    display: block;
    padding: 5px;
}

.column__add-card:hover {
    background-color: lightgray;
}
